.wizard-card {
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  align-items: center;
  width: 45%;
  height: 4rem;
  margin: 0.5rem;
  border: 0.1rem solid rgb(214, 226, 240);
  cursor: pointer;
  box-shadow: 0 0 1rem 0 rgba(31, 38, 135, 0.37);
}

.wizard-card:hover {
  box-sizing: border-box;
  background-color: lightblue;
  border: 0.1rem solid dodgerblue;
}

.wizard-card--avatar {
  height: 4rem;
}

.wizard-card--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wizard-card--email {
  color: darkslategray;
  font-size: 70%;
}

.wizard-card--selected {
  background-color: dodgerblue !important;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .wizard-card {
    width: 100%;
  }
}
